@charset "UTF_8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,html {
    background-color: lightgray;
}

header{
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer{
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;

}
menu > ul > li > a:hover{
    background-color: rgb(158, 155, 155);
    color: black;
}
 main{

    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

 }

 main h2 {
    padding-bottom: 20px;
 }

 p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px; 
 }

 @media screen and (min-width:768px){
    i#buguer{
     display: none;
    } 
    menu{
     display: block;
    }
    menu > ul > li{
     display: inline-block;
    }
 }